<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://uat-wolive.chaozhiedu.com/assets/libs/push/pusher.min.js"></script>
    <script src="/javascripts/messagation.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
